.mobileNotes-container {
  width: 100vw;
  height: 100vh;
  
  overflow-y: hidden;
 }

 .back-container {

  margin-left: 5vw;

 }

 .back-container img {
  width: 22px;
  height: 15px;
 }

.mobileNotes-title-container {
  height: 8vh;
  width: 100vw;
  background: rgba(0, 31, 139, 1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 5vh;
  color: white;
}

.mobileNotes-title-logo {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin: 1vh 0 0 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  
}

.mobileNotes-title{
    margin-left: 2vh;
}

.mobileNotes-title h1 {
  font-size: 17px;
}

.mobileNotes-content {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 75vh;

  width: 100vw;
  background: rgba(218, 229, 245, 1);
 
  
}


.desktop__notes__content__title {
  height: 20vh;
  width: 100vw;
}


.mobile-textInput-container {
    width: 100vw;
    height: 100%;
    background: rgba(0, 31, 139, 1);
    
    
    
    

}

.mobile-textArea {
 
  width: 95vw;
  padding-top: 2vh;
  
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  
  
}

.mobile-textArea textarea
{
  width: 95vw;
  height: 13vh;
  padding: 10px;
}

.mobile-textArea textarea:focus {
  outline: none;
  border: none;
}

.mobile-textInput-container img {
  height: 19px;
  width: 25px;
  position: absolute;
  right: 4vw;
  bottom: 5vh;
}

.mobile-ellipse {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
