.mobile-notesContent-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
   border-radius: 8px;
  align-items: center;
  min-height: 15vh;
  height: auto;
  width: 94vw;
  
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  
}

.mobile-notesContent{
 
  height: auto;
  width: 92vw;
  text-align: left;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 3vh;
 
}

.mobile-notesStamp-container{
  display: flex;
  justify-content: flex-end;
   align-items: center;
   width: 85vw;
  padding-bottom: 1vh;
  padding-top: 3vh;
  
  
 
}

.mobile-notesDate {
  font-size: 12px;
  font-weight: 500;
  
 
}

.mobile-notesTime {
  
  font-size: 12px;
  font-weight: 500;
  
}



