

.desktop-sidebar {
  width: 24vw;
 
  overflow-y: auto;
  height: 100vh;
  display: flex;
  align-items: center;
 
  flex-direction: column;

  
 
}



.desktop-sidebar-title {
  display: flex;
  padding-bottom: 2vh;
  justify-content: center;
  width: 24vw;
  position: fixed;
  background-color: white;
  padding-top: 5vh;
 
 
  
}
.desktop-sidebar-title h1 {
  
  font-weight: 500;
  font-size: 32px;
 

  
  
  
}

.desktop-sidebar-noteGroup{
  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  /* border: black 1px solid; */
  font-weight: 500;
}



#desktop-dialog-open {
  background-color:#ddd;
  position: fixed;
  left: 18vw;
  z-index: 3;
  bottom: 2vh;
  width: 93px;
  height: 93px;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: blue;
  font-size: 70px;
  font-weight: 500;
}

@media (max-width: 900px) {
  .desktop-sidebar button {
    width: 70px; /* Adjust size for smaller screens */
    height: 70px;
    font-size: 50px;
  }
}












::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
