

.mobile-sidebar {
  width: 100vw;
  overflow-y: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;

}



.mobile-sidebar-title {
  display: flex;
  padding-bottom: 2vh;
  
  width: 100vw;
  position: fixed;
  background-color: white;
  padding-top: 5vh;
 
 
  
}
.mobile-sidebar-title h1 {
  
  font-weight: 500;
  font-size: 32px;
  margin-left: 12vw;

  
  
  
}

.mobile-sidebar-noteGroup{
  
  margin-left: 8vw;
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-top: 12vh;

  font-weight: 500;
}



#mobile-dialog-open {
  background-color:#ddd;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  bottom: 4vh;
  right: 4vw;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: blue;
  font-size: 45px;
  font-weight: 500;
}



